@use "../utils/variables.scss";
@use "../utils/colors.scss";

@use "../utils/mixins.scss";



#homepage{

    background-color: #F6F6F6;

    .menus{
        background-color: #F6F6F6;
        margin-bottom: 0rem;
        .h2{
            margin-bottom: 2rem;

        }

        .menus__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-wrap: wrap;
            margin: 2rem;
            gap: 2rem;
            @media (max-width:variables.$breakpoint){
                grid-template-columns:  1fr;
                }
            .new {
                position: relative;
            }    


            .new::before{
                content: "Nouveau";
                position: absolute;
                height: 2rem;
                width: 4rem;
                background-color: colors.$color-green;
                color: darken(colors.$color-green, 50%);
                display: grid;
                place-items: center;
                right: 1rem;
                top: 1rem;
                border-radius: 0.5rem;


            }    
            }

            
            
            
            
            .card {
                
            &__image {
                height: 19rem;
                background-size: cover;
                border-radius: 1rem 1rem 0 0;
            }

            @for $i from 1 through 4 {
                &__image#{$i}{
                    
                    background-image: url("assets/menu-#{$i}.jpg");   
                    
                }
                &__description{
                    position: relative;
                    background-color: white;
                    border-radius: 0 0 1rem 1rem;
                    @include mixins.heart-animated;
                }

                    h3,p{
                        padding: 0.3rem;

                    }
                    &:hover .fas{
                        opacity: 1;
                        transform: translateY(-50%) scale(1.2);
                    
                    }
                }
            }
            


            



        }
    }


