@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h2, h1, h3, h4, h5, h6, p {
  padding: 0rem 0.5rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 3px 1px grey;
  padding: 1.2rem;
  position: relative;
  background-color: white;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #E5E7E9;
  text-align: center;
  padding: 1.5rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
  margin-bottom: 3rem;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 2px 1px 16px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  background-color: #fff;
  opacity: 0.9;
  z-index: 1;
  animation: disappear 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  transform-origin: top;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#homepage {
  background-color: #F6F6F6;
}
#homepage .menus {
  background-color: #F6F6F6;
  margin: 2rem;
}
#homepage .menus .h2 {
  margin-bottom: 2rem;
}
#homepage .menus .menus__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  #homepage .menus .menus__cards {
    grid-template-columns: 1fr;
  }
}
#homepage .menus .menus__cards .new {
  position: relative;
}
#homepage .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 4rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 0.5rem;
}
#homepage .menus .card__image {
  height: 19rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
#homepage .menus .card__image1 {
  background-image: url("assets/menu-1.jpg");
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  /*@include mixins.heart-animated;*/
}
#homepage .menus .card h3, #homepage .menus .card p {
  padding: 0.3rem;
}
#homepage .menus .card h3 i::before, #homepage .menus .card p i::before {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
}
#homepage .menus .card h3 i::after, #homepage .menus .card p i::after {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
  /*(0,500,transparent);*/
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#homepage .menus .card h3 i:hover::after, #homepage .menus .card p i:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card__image2 {
  background-image: url("assets/menu-2.jpg");
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  /*@include mixins.heart-animated;*/
}
#homepage .menus .card h3, #homepage .menus .card p {
  padding: 0.3rem;
}
#homepage .menus .card h3 i::before, #homepage .menus .card p i::before {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
}
#homepage .menus .card h3 i::after, #homepage .menus .card p i::after {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
  /*(0,500,transparent);*/
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#homepage .menus .card h3 i:hover::after, #homepage .menus .card p i:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card__image3 {
  background-image: url("assets/menu-3.jpg");
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  /*@include mixins.heart-animated;*/
}
#homepage .menus .card h3, #homepage .menus .card p {
  padding: 0.3rem;
}
#homepage .menus .card h3 i::before, #homepage .menus .card p i::before {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
}
#homepage .menus .card h3 i::after, #homepage .menus .card p i::after {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
  /*(0,500,transparent);*/
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#homepage .menus .card h3 i:hover::after, #homepage .menus .card p i:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card__image4 {
  background-image: url("assets/menu-4.jpg");
}
#homepage .menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  /*@include mixins.heart-animated;*/
}
#homepage .menus .card h3, #homepage .menus .card p {
  padding: 0.3rem;
}
#homepage .menus .card h3 i::before, #homepage .menus .card p i::before {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
}
#homepage .menus .card h3 i::after, #homepage .menus .card p i::after {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
  /*(0,500,transparent);*/
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#homepage .menus .card h3 i:hover::after, #homepage .menus .card p i:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#homepage .menus .card:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.tuto {
  counter-reset: steps;
  background-color: white;
}
.tuto h2 {
  margin: 2rem;
  margin-bottom: -3rem;
  padding: 2rem 0.5rem;
}
.tuto ol {
  display: flex;
  margin: 0.5rem;
  gap: 2rem;
  padding: 3rem;
}
@media (max-width: 767px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 2rem 2rem;
  flex-grow: 1;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 1px 16px -3px #000000;
}
.tuto li::before {
  content: "" counter(steps);
  counter-increment: steps;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
}
.tuto li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
.tuto li i.fas {
  margin-right: 1rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

@keyframes appear {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-resto header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 1rem;
  top: 35%;
  font-size: 20px;
}
#page-resto section.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
#page-resto section.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 2px 1px 16px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#page-resto section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
#page-resto .banner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  display: block;
}
#page-resto .resto__title {
  margin-top: -2rem;
}
#page-resto .resto__title h2 {
  background: white;
  position: relative;
  font-family: "shrikhand", "cursive";
  padding: 0rem 1rem;
  /*border: solid 1px red;
  */
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
#page-resto .resto__title h2 i {
  margin-left: 26rem;
}
#page-resto .resto__title h2 i::before {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
}
#page-resto .resto__title h2 i::after {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  content: "\f004";
  /*(0,500,transparent);*/
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
#page-resto .resto__title h2 i:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#page-resto .resto-main {
  padding: 2rem 1rem;
  background-color: #f6f6f6;
}
#page-resto .menus {
  display: grid;
  gap: 1rem;
}
#page-resto .menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
#page-resto .menus h3::after {
  content: "";
  height: 0.25rem;
  width: 1.25rem;
  background-color: #99e2d0;
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  width: 3rem;
}
@media (max-width: 768px) {
  #page-resto .menus {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus .menus__category:nth-child(1) {
  animation: appear 300ms;
}
#page-resto .menus .menus__category:nth-child(2) {
  animation: appear 600ms;
}
#page-resto .menus .menus__category:nth-child(3) {
  animation: appear 900ms;
}
#page-resto .menus .menus__category:nth-child(4) {
  animation: appear 1200ms;
}
#page-resto .menus .menus__category:nth-child(5) {
  animation: appear 1500ms;
}
#page-resto .menus .menus__category:nth-child(6) {
  animation: appear 1800ms;
}
#page-resto .menus .menus__category:nth-child(7) {
  animation: appear 2100ms;
}
#page-resto .menus .menus__category:nth-child(8) {
  animation: appear 2400ms;
}
#page-resto .menus .menus__category:nth-child(9) {
  animation: appear 2700ms;
}
#page-resto .menus .menus__category:nth-child(10) {
  animation: appear 3000ms;
}
#page-resto .menus .menus__category:nth-child(11) {
  animation: appear 3300ms;
}
#page-resto .menus .menus__category:nth-child(12) {
  animation: appear 3600ms;
}
#page-resto .menus .menus__category:nth-child(13) {
  animation: appear 3900ms;
}
#page-resto .menus .menus__category:nth-child(14) {
  animation: appear 4200ms;
}
#page-resto .menus .menus__category:nth-child(15) {
  animation: appear 4500ms;
}
#page-resto .menus .menus__category .menu-item {
  display: flex;
  overflow: hidden;
  box-shadow: 2px 1px 16px -3px #000000;
  border-radius: 1rem;
  background-color: white;
  animation: appear 700ms;
  animation-fill-mode: both;
}
#page-resto .menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menus .menus__category .menu-item .menu-item__description {
  padding: 1rem;
}
#page-resto .menus .menus__category .menu-item .menu-item__check {
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  transition: 600ms;
  display: grid;
  place-items: center;
}
#page-resto .menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background-color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}
#page-resto .menus .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-resto .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menus .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}

/*# sourceMappingURL=style2.css.map */
